
body{

    background-color: rgb(225, 230, 231);
    font-family: 'Lato', sans-serif;

    color: rgba(20, 20, 20, 0.603)
}


.container{

    width: 1000px;
    color: blue;
    margin: auto;

} 

h1,h2,h3,p{
    
    display:block;
    margin: 20px 20px 0px 25px;
    padding: 20px 5px;
}

h2{
    color: rgba(26, 26, 26, 0.884)
}

h3{
    color: rgba(26, 26, 26, 0.884)
}

h4{
    color: rgba(26, 26, 26, 0.884);
    margin: 12px 15px 15px 25px;
    display: inline-block;
}

a{
    text-decoration: none;
    color:rgb(25,81,144);
    margin: 0px 0px 15px 25px;
}

form {
    display: block;
    margin: 20px 0 0px 0;
    
}
label{
    display: block;
    margin: 30px 20px 18px 25px ;
    padding: 0px 5px;
    font: 'Lato', sans-serif;
    color:rgb(25,81,144);
}

input, select, textarea{
    color: rgba(26, 26, 26);
}

input{
    width: 83%;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 0 0 25px;
    display: block;
    font: 'Lato', sans-serif;

}


input[type=text]:focus , input[type=password]:focus {
    border: 0.2px solid rgb(25,81,144);
    font: 'Lato', sans-serif;
    display: block;
    padding: 10px ;
    margin: 0px 0 0 25px;
    
  }

#cadastro{

    height: 700px;
    width: 450px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    margin-top: 100px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
}
button{

    margin: 45px 23px 30px 25px;

}

button:hover{

    margin: 45px 23px 30px 25px;
    background-color: rgb(33, 102, 180);

}

.separador{

    width: 86%;
    height:1px;
    background-color: rgb(218, 218, 218);
    margin: 10px 0 10px 25px;
}

.azul{

    width: 451px;
    height: 50px;
    background-color: rgb(25,81,144);
    
    border-radius: 2px;
    margin: auto;
    

}

.botaoprincipal {
    background-color: rgb(25,81,144);    /*#4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 163px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:  2px;
  }