
body{

    background-color: rgb(203, 211, 212);
    font-family: 'Lato', sans-serif;

    color: rgba(20, 20, 20, 0.603)
}

.foto{

     width: 170px;
    height: 180px;
    margin: 0px 0 0 10px ;
    padding: 20px;
    float: left;
    border-radius:  2px;
    overflow: hidden;
    
}
.container{

    width: 1000px;
    color: red;
    margin: auto;
    padding: 2px;
    background-color: white;
}

#meuproduto{
    
    margin-top: 30px;
    position:center;
    display: block;
    top: 50px;
    margin-bottom: 50px;

}

#interessados{

    text-align: right;
    color: black;
    margin: 0px 35px 0px 0px;

}
#coluna1{
    text-align: center;
    float: left;
    display: inline-block;
    margin-top: 8px;
    margin-left: 30px;
    width: 10%;
    margin-bottom: 100px;
}
#coluna2{
    display: inline-block;
    margin-left: 40px;
    width: 70%;
}

#coluna2_1{
    display: inline-block;
    color: black;
    margin-left: 100px;
    background-color: rgb(236, 236, 236);
    border: 10px;
    border-color: blue;
}

select{

    background-color: white;
    border: thin solid gray;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;


    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;


    background-image:
        linear-gradient(45deg, transparent 50%, blue 50%),
        linear-gradient(135deg, blue 50%, transparent 50%),
        linear-gradient(to right, skyblue, skyblue);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

.propor{

    background-color: rgb(29, 144, 25);    /*#4CAF50; /* Green */
    border: none;
    width: 100%;
    color: white;
    padding: 20px 20px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    border-radius:  4px;
    margin: 0;
    position: relative;
    top: 90px;
}

#titulo{
    display: block;
    margin-bottom: -25px;
    margin-top: -20px;
}



h1,h2,h3{
    
    display:block;
    margin: 20px 20px 0px 23px;
    padding: 20px 5px;
    color: rgba(26, 26, 26, 0.884);
}



h4{
    color: rgba(26, 26, 26, 0.884);
    margin: 12px 15px 15px 23px;
    display: inline-block;
}


  
section{

    width: 80%;
    height: 100px;
    position:relative;
    top: 10px;
  }

p{
    margin: 0px;
    padding:0px;
    color: rgba(26, 26, 26, 0.884);
}

button{

    margin: 15px 23px 30px 23px;

}

img{

    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    
}


.separador{

    
    width: 94%;
    height:1.5px;
    background-color: rgb(243, 243, 243);
    margin: 30px 0 10px 23px;
}

.separador_produto{

    
    width: 95%;
    height:0.1px;
    background-color: rgba(184, 184, 184,0.1);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.15);
    margin: 0px 0 20px 25px;
}

#botão{
    margin-top: -10px;
    margin-left: 10px;
}

#aceitar{
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color:#75d88f;
	border-radius:12px;
	border:1px solid  black;
    cursor:pointer;
    color: white;

}

#recusar{
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color:#df3c3c;
	border-radius:12px;
	border:1px solid  black;
    cursor:pointer;
    color: white;

}

#propor{
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color:#75d88f;
	border-radius:12px;
	border:1px solid  black;
    cursor:pointer;
    color: white;

}

table{
    display: inline-block;
    width: 90%;
}








