/*div .bot1{
    display: flex;
    background-color: blue;
    
}*/

body{
    background-color: rgb(225, 230, 231);
    font-family: 'Lato', sans-serif;
    color: rgba(20, 20, 20, 0.603);
}

a{
    text-decoration: none;
    color:rgb(25,81,144);
    margin: 0px 15px 15px 15px;
}

h1,h2,h3{
    
    display:block;
    margin: 20px 20px 0px 23px;
    padding: 20px 5px;
    color: rgba(26, 26, 26, 0.884);
}

p{
    color: rgba(26, 26, 26, 0.884);
}

form {
    display: block;
    margin: auto;
    
}

label{
    /*display: block; */
    margin: 0px 10px 23px 00px ;
    padding: 0px 5px;
    font: 'Lato', sans-serif;
    color:rgb(25,81,144);
}

input, select, textarea{
    color: rgba(26, 26, 26);
}

#menu{

    position:relative;
    display: block;
    top: -10px;
    
    
}

nav{

    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 25px 0 0px 0px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);

}
nav ul{

    margin: 0 0 0 0px;
    padding: 20px;
}

ul a{

    padding: 0;
    margin:  0; 
}

#menu li{

    display: inline;
    

}

#menu li a{

    display: inline;
    padding: 10px 20px;
    padding-bottom: 20px;
    border-radius:  2px;
}

#menu li a:hover{

    color: rgb(255, 255, 255);
    background-color:rgb(39, 115, 202);

}

.container{

    width: 1000px;
    /*color: blue;*/
    margin: auto;
    padding: 0px;

}

#meus_produtos{

    /*height: 900px;*/
    width: 900px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    padding: 20px;
    
}

.separador{

    width: 94%;
    height:1.5px;
    background-color: rgb(243, 243, 243);
    margin: 30px 0 10px 23px;
}

.separador2{

    width: 94%;
    height:1.5px;
    background-color: rgb(243, 243, 243);
    margin: 0px 0 10px 23px;
}

#busca form{

    margin: 20px 0 0 30px;
}


#imgProd{
    width: 100px;
}

.botoesint{
    width: 80px;

}

#botoesint{
    height: 40px;
}

#descricao{
    width: 400px; 
    height: 100px;
}

#titulo{
    width: 400px; 
    height: 20px;
}

#bEnviar{
    width: 200px;
}

table, td{
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid;    
} 

#descr{
    width: 500px;
}

#cadastrar{
    width: 150px;
}

