
body{

    background-color: rgb(225, 230, 231);
    font-family: 'Lato', sans-serif;

    color: rgba(20, 20, 20, 0.603)
}


.container{

    width: 1000px;
    color: blue;
    margin: auto;
    padding: 0px;

} 
#menu{

    position:relative;
    display: block;
    top: -10px;
    
    
}
nav{

    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 25px 0 0px 0px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);

}
nav ul{

    margin: 0 0 0 0px;
    padding: 20px;
}
ul a{

    padding: 0;
    margin:  0; 
}

#menu li{

    display: inline;
    

}

#menu li a{

    display: inline;
    padding: 10px 20px;
    padding-bottom: 20px;
    border-radius:  2px;
}

#menu li a:hover{

    color: rgb(255, 255, 255);
    background-color:rgb(39, 115, 202);

}

h1,h2,h3{
    
    display:block;
    margin: 20px 20px 0px 23px;
    padding: 20px 5px;
    color: rgba(26, 26, 26, 0.884);
}

p{
    color: rgba(26, 26, 26, 0.884);
}

h4{
    color: rgba(26, 26, 26, 0.884);
    margin: 12px 15px 15px 23px;
    display: inline-block;
}

a{
    text-decoration: none;
    color:rgb(25,81,144);
    margin: 0px 0px 15px 23px;
}

form {
    display: block;
    margin: auto;
    
}
label{
    /*display: block; */
    margin: 0px 10px 23px 00px ;
    padding: 0px 5px;
    font: 'Lato', sans-serif;
    color:rgb(25,81,144);
}


input, select, textarea{
    color: rgba(26, 26, 26);
}

input{
    /* width: 1%; */
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 0 0 10px;
    /* display: block; */
    font: 'Lato', sans-serif;

}


input[type=text]:focus , input[type=password]:focus {
    border: 0.2px solid rgb(25,81,144);
    font: 'Lato', sans-serif;
    /* display: block; */
    padding: 10px ;
    margin: 0px 0 0 10px;
    
  }

  
section{

    width: 80%;
    height: 100px;
    position:relative;
    top: 10px;
  }



#catalogo_produtos{

    height: 900px;
    width: 900px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    padding: 20px;
    
}

#busca form{

    margin: 20px 0 0 30px;
}

#pesquisa{

    width: 400px;
    margin: 0 10px 0 0;
}

div h2,h3{

    margin: 5px 0 0 0px;
    padding: 0;
}

p{
    margin: 0px;
    padding:0px;
}

button{

    margin: 45px 23px 30px 23px;

}

button:hover{

    margin: 45px 23px 30px 23px;
    background-color: rgb(33, 102, 180);

}


img{

    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    
}

.bradio{

    
    width: 10px;
    margin: 10px 0 10px 23px;
}


.azul{

    width: 350px;
    height: 50px;
    background-color: rgb(25,81,144);
    
    border-radius: 2px;
    margin: auto;
    

}

.botaoprincipal {
    background-color: rgb(25,81,144);    /*#4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:  2px;
  }

.botaoprincipal:hover {
    background-color: rgb(33, 102, 180);    /*#4CAF50; /* Green */
    
  }

.div_interesse button{

    background-color: rgb(29, 144, 25);    /*#4CAF50; /* Green */
    border: none;
    width: 100%;
    color: white;
    padding: 20px 20px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    border-radius:  4px;
    margin: 0;
    position: relative;
    top: 90px;
}

.div_interesse button:hover{

    background-color: rgb(38, 189, 33);    /*#4CAF50; /* Green */
   
}
.div_interesse button:focus {

    background-color: rgb(38, 189, 33);    /*#4CAF50; /* Green */
   
}

.separador{

    
    width: 94%;
    height:1.5px;
    background-color: rgb(243, 243, 243);
    margin: 30px 0 10px 23px;
}

.separador_produto{

    
    width: 95%;
    height:0.1px;
    background-color: rgba(184, 184, 184,0.1);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.15);
    margin: 0px 0 20px 25px;
}

.produto{

 

    width: 180px;
    height: 220px;
    margin: 0px 0 0 10px ;
    padding: 20px;
    float: left;
    border-radius:  2px;
    overflow: hidden;
    
}


.card{

    width: 98%;
    height: 200px;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(249, 249, 249); 
    border-radius:  4px;

}
.caixa_texto{

    float: left;
    width: 51%;
    padding: 20px;
    position:relative;

}

.div_interesse{

    width: 13.3%;
    height: 200px;
    /* background-color: rgb(179, 81, 81); */
    float: left;
    
    position:relative;
    padding: 15px;
    top:30px;
}

.caixa_texto h2{

    padding: 10px 0 20px 0;
    margin: auto;
}

.clearfix{
    content: ‘ ‘;
    display: table;
    clear:both;
}



